<div class="header lead" style="text-align: center";>
	<%= link_to "← ", events_path(day: @date - 1.month) %>
	<%= @date.strftime("%B") %>
	<%= link_to " →", events_path(day: @date + 1.month) %>
</div>

<table>
	<td class="span 2">
		MON
	</td>
	
	<td class="span 2">
		TUES
	</td>

	<td class="span 2">
		WED
	</td>

	<td class="span 2">
		THU
	</td>

	<td class="span 2">
		FRI
	</td>

	<td class="span 2">
		SAT
	</td>

	<td class="span 2">
		SUN
	</td>

	<% (@date.beginning_of_month.beginning_of_week..@date.end_of_month.end_of_week).each do |day| %>
		<% if day.monday? %>
		<tr>
		<% end %>
		
		<td>
		<%= link_to day.day, events_path(day: day) %>

		</td>

	<% end %>
</table>