<div class="row" style="margin-top: 40px";>
	<div class='calendar well'>
		<div class="header lead" style="text-align: center";>
			<%= link_to "← ", events_path(day: @date - 1.month) %>
			<%= @date.strftime("%B") %>
			<%= link_to " →", events_path(day: @date + 1.month) %>
		</div>

		<table class='titles'>
			<tr>
				<td class="date smallcaps">
					MON
				</td>
				
				<td class="date smallcaps">
					TUES
				</td>

				<td class="date smallcaps">
					WED
				</td>

				<td class="date smallcaps">
					THU
				</td>

				<td class="date smallcaps">
					FRI
				</td>

				<td class="date smallcaps">
					SAT
				</td>

				<td class="date smallcaps">
					SUN
				</td>
			</tr>
		</table>
		<table>
			<% (@date.beginning_of_month.beginning_of_week..@date.end_of_month.end_of_week).each do |day| %>
				<% if day.monday? %>
					<tr class="week">
				<% end %>
				
				<td class="date">
					<%= link_to day.day, events_path(day: day) %>
				</td>
			<% end %>
		</table>
	</div>
</div>