<h1> Click on a date to check what events are scheduled for that day. Go ahead, just try it. </h1>







<%= render "calendar" %>


<p>

<%= link_to 'Book an event', new_event_path, :class => "btn btn-primary" %>


