<div class="container">
	<% if @event.errors.any? %>
		<div class='alert alert-error'>
			<ul class="unstyled">
				<% @event.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			</ul>
			<% end %>
		</div>
	<% end %>

	<%= render 'form' %>
</div>
