<div class="container">
	

	<% if @event.errors.any? %>
		<div class='form_errors'>
			<h3>Hold up!</h3>
			<%= image_tag "paddlin.png" %>
				<% @event.errors.full_messages.each do |message| %>
				<ul class="unstyled">
				<li><%= message %></li>
			</ul>
			<% end %>
		</div>
	<% end %>
	
	
	<%= render 'form' %>
</div>
