<!DOCTYPE html>
<html>
<head>
  <title>Roombookingapp</title>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
  <style type="text/css">

  h1 {
  	padding-top: 40px;
  }

  </style>
</head>
<body>

<%= yield %>

</body>
</html>
